:root {
  --primary-color: #9249f2;
  --transparent-color: transparent;
  --text-white: #fff;
  --background-color: #fff4ed;
  --secondary-color: #f4edfe;
  --bg-color: #f2f8ff;
  --button-color: #f5f6f7;
  --text-black: #121314;
  --theme-sky-color: #f5f5f5;
}


